@font-face {
  font-family: "zabars";
  src: url("fonts/zabars.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/background_el_pollo_loco.jpg");
  font-family: "zabars", Arial, Helvetica, sans-serif;
}

button:hover {
  scale: 1.01;
}

h1 {
  color: #ffc81d;
  letter-spacing: 6px;
  text-shadow: 8px 8px rgba(0, 0, 0, 0.6);
  font-size: 72px;
}

h2 {
  color: #ffc81d;
  letter-spacing: 6px;
  text-shadow: 8px 8px rgba(0, 0, 0, 0.6);
  font-size: 72px;
  margin-block-end: 0;
}

h3 {
  color: #ffc81d;
  letter-spacing: 6px;
  text-shadow: 8px 8px rgba(0, 0, 0, 0.6);
  font-size: 72px;
  margin: 0;
}

a {
  color: #160d28;
  text-decoration: none;
  letter-spacing: 2px;
}

.icon_sreen_rotation {
  width: 180px;
}

.display_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  background-color: black;
  border-radius: 20px;
  display: block;
}

.start_screen_img {
  height: 480px;
  width: 720px;;
  position: absolute;
  display: block;
}

.info_button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: unset;
  font-size: 30px;
  font-weight: 700;
  background-color: #fa6400;
}

.controller_button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: unset;
  background-color: #fa6400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controller_screen {
  position: absolute;
  width: 720px;
  height: 480px;
  background-color: #fa6400;
  border-radius: 20px;
}

.controller {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.how_to_play {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

p {
  padding-right: 16px;
}

.info_screen {
  position: absolute;
  width: 720px;
  height: 480px;
  background-color: #fa6400;
  border-radius: 20px;
}

.controller_bottle {
  width: 50px;
}

.icon_close {
  cursor: pointer;
}

.info_text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 48px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 720px;
  position: absolute;
  padding-top: 1%;
}

.start_button {
  width: 160px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: unset;
  font-size: 30px;
  background-color: #fa6400;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.icon_audio {
  position: absolute;
  transform: translate(330px, 20px);
  border-radius: 50%;
  cursor: pointer;
}

.d_none {
  display: none;
}

.game_over {
  width: 720px;
  height: 485px;
  border-radius: 20px;
  position: absolute;
  transform: translate(0px, -485px);
}

.restart_button {
  position: absolute;
  transform: translate(280px, -420px);
  width: 160px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: unset;
  font-size: 30px;
  background-color: #fa6400;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.you_win_img {
  width: 720px;
  height: 485px;
  border-radius: 20px;
  position: absolute;
  transform: translate(0px, -485px);
}

.back_to_menu_button {
  position: absolute;
  transform: translate(270px, -400px);
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: unset;
  font-size: 30px;
  background-color: #fa6400;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.salsa_bottle_img {
  width: 50px;
}

.touch_btn {
  border-radius: 50%;
  border: unset;
  background-color: #ffc81d;
}

.move_keys {
  position: absolute;
  transform: translate(10px, -60px);
}

.throw_and_jump_key {
  position: absolute;
  transform: translate(440px, -60px);
}

.landscape_modus {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  font-size: 60px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.impressum {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 8px;
}

a:hover {
  text-decoration: underline;
  color: white;
}

@media (max-width: 1031px) {
  h1 {
    display: none;
  }

  .impressum {
    display: none;
  }

}

@media only screen and (orientation: landscape) {
  .landscape_modus {
    display: none;
  }
  
  canvas {
    display: block;
  }
}

@media only screen and (orientation: portrait) {
  .landscape_modus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    width: 100vw;
  }

  #canvas {
    display: none;
  }

  .icon_audio {
    display: none;
  }

  h1 {
    display: none;
  }

  .impressum {
    display: none;
  }

  #startScreen {
    display: none;
  }

  .game_over {
    display: none;
  }
}

/* Smartphones -------*/
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

/* Smartphones -------*/
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .start_screen_img {
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 0px;
  }

  .info_screen {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    left: 0;
  }

  .controller_screen {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    left: 0;
  }

  .game_over {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    left: 0;
    right: 0;
    transform: translate(0px, -100%);
  }

  .restart_button {
    transform: translate(153%, -931%);
  }
}
